@import 'vuetify/styles';
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import '/node_modules/flag-icons/css/flag-icons.min.css';

@font-face {
  font-family: TaipeiSansTCBeta-Bold;
  src: url('/font/TaipeiSansTCBeta-Bold.ttf');
}
@font-face {
  font-family: TaipeiSansTCBeta-Light;
  src: url('/font/TaipeiSansTCBeta-Light.ttf');
}
@font-face {
  font-family: TaipeiSansTCBeta-Regular;
  src: url('/font/TaipeiSansTCBeta-Regular.ttf');
}

html {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;

  *:not(
      .wang_editor_view,
      .wang_editor_view *,
      .wang_editor,
      .wang_editor *,
      .v-icon--size-x-large,
      .v-icon--size-x-large *,
      .v-icon--size-large,
      .v-icon--size-large *,
      .v-icon--size-small,
      .v-icon--size-small *,
      .v-icon--size-x-small,
      .v-icon--size-x-small *
    ) {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
}

* {
  transition: all 0.2s ease-in-out;
}

button[disabled] {
  pointer-events: unset;
  cursor: not-allowed;
}

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

label {
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

button {
  border-style: solid;
  cursor: pointer;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

*::-webkit-scrollbar {
  width: 10px;

  @include mobile {
    height: 5px;
  }
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $secondary;
  border: 1px solid $secondary;
}

// *::-webkit-scrollbar-button {
//   background   : transparent;
//   border-radius: 4px;
// }

*::-webkit-scrollbar-track-piece {
  background-color: #ffffff00;
}

*::-webkit-scrollbar-track {
  box-shadow: transparent;
}

img[src='img/expand.svg'] {
  min-width: 52px;
  min-height: 52px;
}

// element-ui
.el-tabs__content {
  width: 100%;
  // height: 100%;
  height: 90%;

  @include mobile {
    height: 70%;
  }
}

.el-tabs--border-card > .el-tabs__header {
  background-color: #f2e7fe;
}

.el-picker-panel.el-date-range-picker.el-popper.has-time {
  @include mobile {
    max-width: 100vw;
    overflow-x: auto;
  }

  .el-picker-panel__footer {
    @include mobile {
      border-top: 0px;
    }
  }
}

.customize_ripple {
  position: relative;
  cursor: pointer;

  &-block {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    &-content {
      position: absolute;
      border-radius: 50%;
      /* To make it round */
      background-color: rgba(0, 0, 0, 0.3);

      width: 100px;
      height: 100px;
      margin-top: -50px;
      /* for positioning */
      margin-left: -50px;

      animation: clickRipple 1s;
      opacity: 0;
    }
  }
}
